
  @keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(860deg) }
  }
  .spinhov:active {
    animation-name: spinning;
    animation-duration: .5s;
    animation-iteration-count: 1;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: ease-in-out;
  }

  .betChoice{
    border-radius:100px;
    height:140px;
    width:140px;
    margin: .5%;
  }

  #red{
    background: url('red.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
    color:rgba(128, 0, 0, 0);
  }

  #red:hover,
  #black:hover,
  #green:hover{
    transform: scale(1.1);
  }

  #red:active,
  #black:active,
  #green:active,
  button:active{
    transform: scale(0.8);
  }

  #black{
    background-image: url('black.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
    color:rgba(0, 128, 0, 0);

  }

  #green{
    background-image: url('green.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border:none;
    color:rgba(0, 128, 0, 0);
  }

 

  .betAmount{
    padding:10px;
  }


  #right{
    width:35%;
    float:right;
    margin-right:8%;
    padding:50px;
  }

  #title{
    width:35%;
    margin-left:30%;
    margin-top:2%;
    margin-bottom:1%;


  }
  #header{
    width:90%;
    margin:auto;
  }

  .gameBoard >img{
    width:40%;
    padding:40px;
    margin-left:4%;
  }

  .frontBody{
    background-color:rgb(3, 114, 3);
    font-family: 'Sedgwick Ave Display', cursive;
  }

  input{
    font-family: 'Sedgwick Ave Display', cursive;
    font-size:40px;
    width:50%;
    margin-top:5%;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, 0.507);
  }

  button{
    font-size:25px;
    padding:10px;
    border-radius: 8px;
    font-family: 'Sedgwick Ave Display', cursive;

  }

  .submitBtn,
  .resetBtn{
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.507);
    margin-left:2%;
  }

  .betAmount{
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.507);
    margin-top:7%;
  }

  h2,
  h3{
    text-align: center;
    font-size:50px;
  }

  .results > h2{
    color:white;
    margin-bottom:0;

  }

  #result{
    color:black;
  }

  #who-won{
    font-size:70px;
    margin:0;
  }


  #ownerLogIn{
    transform: rotate(270deg);  
    margin-left:-4%;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.507);
    background:black;
    color:white;
    width:10%;
  }

  #ownerLogIn:hover{
    background:rgb(255, 0, 0);
  }

  #owner{
    height:200px;
  }

  #ownerLog{
    background:rgb(26,26,26);
    background-image:url('dollar.jpeg');
    background-size:5%;
    background-repeat: repeat-x;
    font-family: 'Lacquer', cursive;
    color:white;
  }

  #ownerLog .container{
    margin-top:8%;
  }

  #ownerLog h1{
    font-size:60px;
    font-family: 'Lacquer', cursive;

  }

  .form-group{
    margin-top:5%;
  }
  #ownerLog label,  #ownerLog input{
    font-size:20px;
  }

  #ownerLog button, #ownerLog input{
    font-family: 'Lacquer', cursive;
  }

  .hide{
    display:none;
  }


  .profile h1{
    color:red;
    font-size:70px;
  }

  .profile
  {
    font-family: 'Tourney', cursive;
    background: black;
    color:white;
    text-align: center;
  }

  .profile button{
    font-family: 'Tourney', cursive;
    font-weight: 100;
    background:rgb(3, 114, 3);
    color:white;
  }

  .profile #notice{
    width:10%;
    margin-top:3%;
    box-shadow: 10px 10px 1px rgba(103, 103, 103, 0.507);

  }

  .profile h2{
    border:2px solid white;
    width:20%;
    float:left;
    margin:1%;
    height:250px;
  }

  .profile h2:hover{
    transform:scale(1.1);
  }

  #wins{
    margin-left:3%;
  }

  .profile button{
    width:20%;
    margin-top:3%;
    font-size:40px;
    float:left;
    border:none;
    margin-bottom:4%;


  }

  .profile button:active{
    transform:scale(.6);
  }

  #logout
  {
    color:white;
    text-decoration: none;
    margin-left:2%;
    background:rgb(6, 62, 0);
  }
  #logout a{
    background:rgba(3, 114, 3, 0);
    color:white;
    text-decoration: none;
  }

  #reset{
    margin-left:25%;
  }

  #logout:hover,
  #logout a:hover{
    background:rgb(3, 114, 3);
  }

  #reset:hover{
    background:rgb(6, 62, 0);

  }